@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #56bdf3,#215b8e, #075ba4);
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
}
header{
    border-bottom: 2px solid black;
    margin: 15px;
    padding: 15px;
   display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
 header h1{
    color: #323232;
}


nav a{
    font-size: 1.1em;
    color:black;
    text-decoration: none;
    margin: 15px;
}
nav a:hover{
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: 1s;
}
section{
    padding: 20px;
}
section h2{
    margin: 10px;
    box-shadow: 2px 2px  rgb(28, 27, 27);

}
p{
    text-indent: 10px;
}
.cont{
    display: flex;
    flex-flow: column nowrap;
}

.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}
.text{
    flex: 1 1 500px;
}
.media{
    align-content: center;
    flex: 1 0 400px;
}
.media img{
    display: block;
    margin: auto;
   
}
iframe{
    
    display: block;
    margin: auto;
    padding: 0 20px;
}
ul, li{
    list-style-type: none;
}

#imgquarte{
    border: 4px solid black;
    box-shadow: 5px 5px 6px  rgb(52, 51, 51);
}
#imgquarte:hover{
    width: 540px;
    height: 300px;
    transition: 1s;
    box-shadow: 7px 7px 9px  rgb(52, 51, 51);
}

@keyframes quarteto {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

#imagem{
     animation: quarteto 1.5s infinite  ease-in-out;
}



footer{
    margin: 5px;
    background-color: #075ba4;
    text-align: center;
}