@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #56bdf3,#215b8e, #0077B2);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
}
header{
    background-image: linear-gradient(to right  #00334d,#215b8e, #0077B2);
    border-bottom: 2px solid black;
    margin: 15px;
    padding: 15px;
   display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
 header h1{
    color: #323232;
}
.submenu {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  display: none;
   /* Oculta por padrão */
}

.submenu li a {
  display: block;
  padding: 8px;
  
  margin-top: 5px;
  text-decoration: none;
  color: black;
}

#menuu:hover{

    background-color: black;
    padding: 10px;
    border-radius: 10px;
    color: white;
    transition: 1s;
}
nav a{
    font-size: 1.1em;
    color:black;
    text-decoration: none;
    margin: 15px;
}
nav a:hover{
    background-color: black;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
    transition: 1s;
}
 
.trailer a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    
    
}

#imagem:hover{
    width: 350px;
    height: 270px;
    transition: 0.5s;
}
section{
    padding: 20px;
}
section h2{
    margin: 10px;
    box-shadow: 2px 2px  rgb(28, 27, 27);

}
p{
    text-indent: 10px;
}
h2 {
    width: 40ch;
    text-align: center;
    overflow: hidden;
    text-wrap: nowrap;
    animation: escrever 2s steps(30) forwards;
}

@keyframes escrever {
    from {
        width: 0ch;
    }
    to {
        width: 40ch;
    }
}


.cont{
    display: flex;
    flex-flow: column nowrap;
}

.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}
.text{
    flex: 1 1 500px;
}
.media{
    align-content: center;
    flex: 1 0 400px;
}
.media img{
    display: block;
    margin: auto;
   
}
iframe{
    
    display: block;
    margin: auto;
    padding: 0 20px;

}
ul, li{
    list-style-type: none;
}

#imgquarte{
    border: 4px solid black;
    box-shadow: 5px 5px 6px  rgb(52, 51, 51);
}
#imgquarte:hover{
    width: 540px;
    height: 300px;
    transition: 1s;
    box-shadow: 7px 7px 9px  rgb(52, 51, 51);
}

@keyframes quarteto {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

#imagem{
     animation: quarteto 1.5s infinite  ease-in-out;
}


footer{
    background-color: #323232;
    color: white;
    text-align: center;
}